<% provide(:title, "Home") %>

<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h1>Welcome to dailydocket.org!</h1> 
<p><span class="commentable" id="1">We are currently in beta mode.</span> <span class="commentable" id="2">To post or comment on stories, please <a href="#" class="alert-link">request an invitation</a>.</span></p>

<p>If you have feedback, questions or concerns, please email us.</p>
</div>

<% if @feed_items.any? %>
  <ol class="posts">
    <%= render @feed_items %>

<p class="pagination"><%= will_paginate @feed_items, :link_separator => ' | ', :page_links => false, :previous_label => '<< Back', :next_label => 'Next >>' %></p>

  </ol>
<% end %>

