<% provide(:title, @post.headline.html_safe) %>

<div class="show-post">
<ol class="posts post-fixed">
  <%= render @post %>
</ol>  
</div>
<br>


<div class="col-md-9 comments-section">

<ol class="comments">
  <%= render 'shared/comment_form' %>
</ol>
<ol class="comments">
  <%= nested_comments @comments.arrange(:order => "created_at DESC") %>
</ol>

</div>

<div class="col-md-3 col-md-offset-9">
</div>

