<% provide(:title, @post.headline.html_safe) %>

<ol class="posts">
  <%= render @post %>
</ol>  
<br>


<div class="col-md-8 comments-section">

<ol class="comments">
  <%= render 'shared/comment_form' %>
</ol>
<ol class="comments">
  <%= nested_comments @comments.arrange(:order => "created_at DESC") %>
</ol>

</div>

<div class="col-md-4 col-md-offset-8">
</div>

