<% provide(:title, @post.headline.html_safe) %>

<ol class="posts">
  <%= render @post %>
</ol>  

<h3>Comments (<%= @post.comments.count %>)</h3>

<ol class="comments">  <%= render 'shared/comment_form' %></ol>

<ol class="comments">
  <%= nested_comments @comments.arrange(:order => :created_at) %>
</ol>



