@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */

body {	
  font-family: "helvetica neue", arial, sans-serif;
  font-size: 9.5pt;
  color: #333;
  padding-top: 65px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.container {
	max-width: 900px;
}

.header {
	padding-left: 12px;
	margin-top: 10px;
//	border-bottom: 1px solid #CCC;
	background-color: #FFF;
}


@media (max-width: 768px) { 
	body {
		padding-top: 50px;
	}

	.posts li {
		&:hover {
		background-color: #f5f5f5;
		}
	}
	
	.posts p {
		padding: 20px;
	}

}

.content {
	padding-left: 0px;
	padding-right: 0px;
	float: none;
}

@media (min-width: 768px) { 
	.sidebar {
		position: fixed;
		display: block;
		h5 a {
		  color: #999;
		}
		  a:hover {
			color: #333;
		}
	}

	.content {
		float: right;
	}
	
	.nested_comments {
		margin-left: 65px;
	}

	.nested_comments .nested_comments .nested_comments {
	  	margin-left: 0;
	}
	
	.expand {
		width: 500px;
	}
}


.pagination {
	margin-left: 40px;
	color: #666;
	
	a {
		color: #333;
		font-weight: normal;
		font-size: 9.5pt;		  
	}
}

.user-avatar {
	width: 40px;
	height: 40px;
	float: left;
	overflow: hidden;
	margin-left: 5px;
    border-radius: 5px;
}

.user-avatar-inner {
	display: inline-block;
    position: relative;
    right: -50%;
}

.user-avatar img {
	position: relative;
    left: -50%;
	min-height: 50px;
	min-width: 50px;
}

.comment-body {
	display: block;
    overflow: hidden;
	padding-left: 15px;
	padding-right: 5px;
}





/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
	margin: 0px;
	margin-bottom: 0.75em;
	padding: 0px;
	font-size: 14pt;
	font-weight: bold;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}


a {
	color: #2562dc;
	cursor: pointer;
	font-weight: bold;
	font-size: 11pt;
	text-decoration: none;
}

.header a {
	color: #777;
	font-size: 9pt;
	text-decoration: none;
}

/* header */

.navbar {
	background-color: #FFF;
}

.navbar-link {
	padding-right: 12px;
	&:hover {
		color: #000;
	}
}


#logo {
  float: left;
  margin-right: 10px;
  color: #333;
  font-size: 11pt;
  padding-top: 16px;
  padding-left: 10px;
  font-weight: bold;
  &:hover {
    color: #000;
    text-decoration: none;
  }
}

@media (max-width: 768px) { 
	#logo {
		padding-left: 0px;
	}
	.navbar .navbar-toggle .icon-bar {
	    background-color: #333;
		margin-left: 15px;
	}
	.navbar {
		padding-top: 0px;
	}
}

.comments-section {
	padding-left: 15px;
	padding-right: 15px;
}

/* posts */

.posts {

  list-style: none;
  padding-left: 0px;

  p {
	margin: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
  }

  .glyphicon {
	color: #CCC;
  }

  li {
//   border-bottom: 1px solid #e8e8e8;
	padding: 2px;
    &:hover {
//	  background-color: #f5f5f5;
    }
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: #999;
    font-size: 8.5pt;
    display: block;
    a {
	  font-size: 8.5pt;
	  color: #999;
	  font-weight: none;
	  &:hover {
	  color: #333;
	}
	}
  }
}

.post-content {
	display: block;
    overflow: hidden;
}
div.voters {
	float: left;
	margin-top: 0px;
	width: 40px;
}


div.voters div.score {
	color: #aaa;
	font-size: 9pt;
	margin-top: 1px;
	margin-bottom: -3px;
	text-align: center;
}

li.story div.voters div.score {
	font-size: 9.5pt;
	margin-top: 2px;
}

div.voters .upvoter,
div.voters .downvoter {
	border-color: transparent transparent #bbb transparent;
	border-style: solid;
	border-width: 6px;
	text-decoration: none;
	width: 0px;
	height: 0;
	margin-bottom: 0px;
	margin-left: 14px;
	padding: 0;
	display: block;
}

div.voters .upvoter {
	border-bottom-width: 11px;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}


.date {
	color: #666;
	background-color: #f5f5f5;
	font-size: 12px;
	padding: 5px;
    border-bottom: 1px solid #e8e8e8;	
}

/* Comments */

.comments {
	list-style: none;
	padding: 0px;
	li {
		padding: 10px;
		border-top: 1px solid #e8e8e8;	
		margin-bottom: 2px;
	}
}

textarea.expand {
    height: 50px;
}


.comment-content {
//	display: block;
}

.comment-timestamp {
	margin-left: 5px;
	color: #999;
}




/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  position: fixed;
  bottom: 20px;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
