@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */

body {	
  font-family: calibri; 
  padding-top: 75px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.container {
	max-width: 960px;
}

.header {
	padding-left: 0px;
	min-height: 50px;
	border-bottom-style: solid;
	border-bottom: double #CCC;
	background-color: #FFF;
	box-shadow: 0px 2px 2px -2px rgba(0,0,0,.2);
}



@media (max-width: 768px) { 
	body {
		padding-top: 50px;
	}

	.posts li {
		&:hover {
		background-color: #f5f5f5;
		}
	}
	
	.posts p {
		padding: 20px;
	}
	

//.sidebar {
//   position: fixed;
//   top: 70px;
//   left: 0px;
//   background-color: #e8e8e8;
//   height: 20px;
//   width: 100%;
//   h5 a {
//	color: #999;
//   }
//   a:hover {
//	color: #333;
//   }
//}
}

.content {
	padding-left: 0px;
	padding-right: 0px;
	float: none;
}

@media (min-width: 768px) { 
	.sidebar {
		position: fixed;
		display: block;
		h5 a {
		  color: #999;
		}
		  a:hover {
			color: #333;
		}
	}
	.content {
		float: right;
	}
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.navbar {
	padding-top: 20px;
	background-color: #FFF;
}


li button {
	margin-top: 10px;

}

#logo {
  float: left;
  font-family: calibri;
  margin-right: 10px;
  font-size: 1.5em;
  color: #555;
  padding-top: 9px;
  padding-left: 5px;
  font-weight: bold;
  &:hover {
    color: #333;
    text-decoration: none;
  }
}

@media (max-width: 768px) { 
	#logo {
		padding-left: 0px;
	}
	.navbar .navbar-toggle .icon-bar {
	    background-color: #333;
		margin-left: 15px;
	}
	.navbar {
		padding-top: 0px;
	}

}

.glyphicon {
	color: #999;
}


/* posts */

.posts {
  list-style: none;
  padding-left: 0px;
  a {
	font-size: 1.1em;
	color: #1111D5;
  }

  p {
	margin: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
  }

  .glyphicon {
	color: #CCC;
  }

  li {
    border-bottom: 1px solid #e8e8e8;
	padding: 5px;
    &:hover {
//	  background-color: #f5f5f5;
    }
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: #999;
    font-size: 14px;
    display: block;
    a {
	  font-size: 14px;
	  color: #999;
	  &:hover {
	  color: #222;
	}
	}
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}


.date {
	color: #666;
	background-color: #f5f5f5;
	font-size: 12px;
	padding: 5px;
    border-bottom: 1px solid #e8e8e8;	
}

/* Comments */

.comments {
	list-style: none;
	padding: 0px;
	li {
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 0px;
		padding-right: 0px;
		border-top: 1px solid #e8e8e8;
	}
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  position: fixed;
  bottom: 20px;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
